@bg-color: rgba(105, 105, 105, 1);
@import url(http://fonts.googleapis.com/css?family=Esteban|Lusitana:700,400);

body {
  width: 100%;
  height: 1000px;
  background: #123456;
  // background: -moz-linear-gradient(bottom, #6c7bec, #1f0000);
  // background: -ms-linear-gradient(bottom, #6c7bec, #1f0000);
  // background: -o-linear-gradient(bottom, #6c7bec, #1f0000);
  // background: -webkit-linear-gradient(bottom, #6c7bec, #1f0000);
  // background: -linear-gradient(bottom, #6c7bec, #1f0000);
  padding-top: 3.5em;
  padding-bottom: 5em;
}

#header {
  color: red;
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

#container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

input {
  font-family: 'Lusitana', serif;
  font-size: 1em;
  display: inline;
  border-radius: .3em;
  margin: 2px 2px 4px 2px;
}

#messageInput{
  width: 255px;
}

#messagesDiv {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 1em;
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  background-color: white;
  font-family: 'Esteban', serif;
  font-size: 1em;
  border-radius: .6em;
}


// #page {
//   color: white;
//   padding: 1em;
//   width: 100%;
//   height: 40em;
//   overflow: auto;
//   h2 {
//   font-family: 'Lusitana', serif;
//   font-size: 4em;
//   }
//   p {
//   font-family: 'Esteban', serif;
//   font-size: 1.42857143em;
//   }
// }
