@bg-color: rgba(105, 105, 105, 1);
@import url(http://fonts.googleapis.com/css?family=Esteban|Lusitana:700,400);

body {
  width: 100%;
  height: 100%;
  background: #123456;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#header {
  color: rgba(224, 135, 85, .8);
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  font-variant: small-caps;
  text-align: center;
}

#container {
  width: 27em;
  //width: 400px;
  //height: 400px;
  margin: 0 auto;
}

input {
  font-family: 'Lusitana', serif;
  font-size: 1em;
  display: inline;
  border-radius: .3em;
  //margin: 2px 2px 4px 2px;
}

#nameInput {
  width: 8em;
  //margin: 0 0 0 2.6em;
  background-color: lightblue;
}

#messageInput{
  width: 14em;
  margin: .8em;
  background-color: lightblue;
}

#messagesDiv {
  width: 25em;
  height: 25em;
  margin: 0 auto;
  padding: 1em;
  background-color: rgb(197, 193, 193);
  font-family: 'Esteban', serif;
  font-size: 1em;
  border-radius: .6em;
  overflow: auto;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
}

#reset {
  margin: 1.5em 1.5em;
  float: right;
  font-family: Lusitana;
  font-size: 1em;
  padding: 0.5em;
  border-radius: .6em;
  outline: none;
  background-color: lightblue;
}

.messages {
  border: 1px solid gray;
  border-radius: .6em;
  margin: .2em .2em;
  width: auto;
  padding: .1em .4em;
}

.local {
  background-color: lightblue;
  display: inline-block;
}

.foreign {
  background-color: lightgreen;
  display: inline-block;
  float: right;
}

.clear {
  clear: both;
}
